/*input.text:focus {
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none; /* Рамка при получении фокуса 
}*/



input[type="text"]:focus:invalid:focus, input[type="password"]:focus:invalid:focus {
    border-color: #e9322d;
    box-shadow: 0 0 6px red;
	}/*
input[type="text"]:focus, input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}*/
input[type="text"],input[type="password"]{
	border-radius: 4px;
    height: 20px;
    line-height: 20px;
	border: 1px solid #ccc;
    box-shadow: 0 0 0;
}