* {
	margin: 0 auto;
}

#fholder
{
	margin-top: 10px;
	height: 30%;
	width: 35%;
	overflow: hidden;
	background-color: rgba(238, 238, 238, 0.5);
	padding: 20px;
	border-radius: 15px;
	color: black;
}
#authfile
{
	width: 100%;
	height: 100%;
	background-image: url('./img/logbc.jpg')
}
#userfile
{
    background-image: url('./img/userbc.jpg');
    background-size: cover;
}  
input[id=deauth]  
{
   right: 0px;           
}

div[id="inv"]
{
	background-color: red;
	display: inline-block;
	padding: 3px 15px;
}

body
{
	color: white;
}

.addivs
{
	border: solid 1px white;
	padding: 5px;
	border-collapse: collapse;
}

.custpad {
	padding: 10px;
	margin: 0 auto;
}

.input {
	color: black;
}

#search {
	color: green;
}



#userControls {
	padding-top: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;

}

td, tr {
	border: solid 1px white;
	padding: 3px;
	text-align: center;

}

.head  td, .size {
	font-size: 20pt;
	font-weight: bold;

	background-color: rgba(255, 42, 55, 0.5);

}